<h1 class="text-center">Blog</h1><br>
<div class="card-group">
    <div class="card card text-center">
      <img class="card-img-top" src="../../assets/imagenes/git.png"alt="Card image cap" width="20" height="250">
      <div class="card-body">
        <h5 class="card-title">GIT</h5>
        <p class="card-text">Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p>
        <a routerLink="/Articulo1" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card card text-center">
      <img class="card-img-top" src="../../assets/imagenes/angular.png" alt="Card image cap" width="90" height="250">
      <div class="card-body">
        <h5 class="card-title">ANGULAR</h5>
        <p class="card-text">Angular is a platform for building mobile and desktop web applications. Join the community of millions of developers who build compelling user interfaces ...</p>
        <a routerLink="/Articulo2" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

