<div class="blog">
    <h1 class="text-center">Mis habilidades</h1><br><br>
<div class="container">
<div class="row">
<div class="card text-white bg-secondary mb-3 mx-auto" style="max-width: 20rem;">
    <div class="card-header mx-auto">Programas</div>
    <div class="card-body mx-auto">
      <h5 class="card-title">-Angular</h5>
      <h5 class="card-title">-Github</h5>
      <h5 class="card-title">-Python</h5>
      <h5 class="card-title">-Java</h5>
      <h5 class="card-title">-Mysql</h5>
    </div>
  </div>
  <div class="card text-white bg-warning mb-3 mx-auto" style="max-width: 20rem;">
    <div class="card-header mx-auto">Skills</div>
    <div class="card-body mx-auto">
      <h5 class="card-title">-Trabajo en equipo</h5>
      <h5 class="card-title">-Resolutivo</h5>
      <h5 class="card-title">-Paciente</h5>
      <h5 class="card-title">-Trabajador</h5>
      <h5 class="card-title">-Aprendo rapido</h5>
    </div>
  </div>
</div>
</div>
